* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: bisque;
  border: none;
  color: black;
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.btn:hover {
  background-color: lightblue;
  cursor: pointer;
}

.css-box {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  align-items: center;
  margin-top: 2rem;
}

.css-practice {
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}

.css-box p {
  color: white;
  font-weight: 200;
  text-align: right;
  padding: 2rem;
}

.css-box h2 {
  color: gold;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 80px;
}

.css-box h3 {
  color: gold;
  text-align: left;
  width: 100%;
  padding-left: 3rem;
}

.borders {
  background-color: beige;
}

.borders p {
  width: 500px;
  border: 5px solid green;
  margin: 3px;
  padding: 3px;
  border-radius: 10px;
}
