* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: bisque;
  border: none;
  color: black;
  margin: 1rem;
  width: 100px;
  height: 50px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  transition: 1s;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(138, 43, 226, 0.5);
  transform: scale(1.3);
}

.css-box {
  display: flex;
  flex-direction: column;
  background-color: lightslategray;
  align-items: center;
  margin-top: 2rem;
}

.css-practice {
  color: white;
  margin-top: 1rem;
  padding: 1rem;
}

.css-box p {
  color: white;
  font-weight: 200;
  text-align: right;
  padding: 2rem;
}

.css-box h2 {
  color: gold;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  font-size: 80px;
}

.css-box h3 {
  color: gold;
  text-align: left;
  width: 100%;
  padding-left: 3rem;
}

.borders {
  background-color: beige;
}

.borders p {
  width: 500px;
  border: 5px solid green;
  margin: 3px;
  padding: 3px;
  border-radius: 10px;
  display: inline-block;
}

.position div {
  height: 5rem;
  width: 5rem;
  background-color: aquamarine;
  position: fixed;
  top: 700px;
  left: 1400px;
  border-radius: 1rem;
  transition: 2s;
}

.position div:hover {
  background-color: palegreen;
  cursor: pointer;
  transform: scale(1.2);
  color: palevioletred;
}

.position div p {
  display: block;
  font-size: 0.8rem;
  padding: 1rem;
  font-family: sans-serif;
  font-weight: bold;
}
